# 01_datawork

Munkhtsetseg

Library

In [ ]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

# Import the dataset and remove the duplicates

Import the dataset from the directory of: ~/Data Input/Preprocessing data/Preprocessing data.csv, assign the dataset as object of df:

In [ ]:
df <- read.csv("~/Data Input/Preprocessing data/Preprocessing data.csv")

Remove the duplicates with the function of distinct(), assign the dataset as df_01:

In [ ]:
df_01 <- df %>%
  distinct()

## Produce a table with missing data

For date options as year, month, etc:

In [ ]:
Table_NA_by_Year <- df_01 %>%
  rowwise %>%
  group_by(Station.name,Year) %>% 
  summarise(NA_date = sum(!is.na(Date)),
            NA_PM2 = sum(is.na(PM2)),
            NA_PM10 = sum(is.na(PM10)),
            NA_Vis = sum(is.na(Visibility)),
            NA_WD = sum(is.na(WD)),
            NA_WS = sum(is.na(WS)),
            NA_OPC = sum(is.na(OPC))
            )

`summarise()` has grouped output by 'Station.name'. You can override using the
`.groups` argument.

# A tibble: 52 × 9
# Groups:   Station.name [4]
   Station.name  Year NA_date NA_PM2 NA_PM10 NA_Vis NA_WD NA_WS NA_OPC
   <chr>        <int>   <int>  <int>   <int>  <int> <int> <int>  <int>
 1 Dalanzadgad   2008    4630   1543    1672   1463  1566  1566   4630
 2 Dalanzadgad   2009    8760    715     929    659   748   748   8760
 3 Dalanzadgad   2010    8784    921    1086    756   787   787   8784
 4 Dalanzadgad   2011    8760   2652    3309   1759  2394  2394   8760
 5 Dalanzadgad   2012    5088   1074    3016    693  1412  1412   5088
 6 Dalanzadgad   2013    6096   1766    1809   2479  1240  1240   6096
 7 Dalanzadgad   2014    7800    843     921   6068  1482  1482   7800
 8 Dalanzadgad   2015    8760   1539    1587   8115  2635  2635   8760
 9 Dalanzadgad   2016    6288   1654    1613   5995  3306  3306   6288
10 Dalanzadgad   2017    3264     36      45   3264  3264  3264   3264
# ℹ 42 more rows

For station

In [ ]:
Table_NA_by_Station <- df_01 %>%
  rowwise %>%
  group_by(Station.name) %>% 
  summarise(NA_date = sum(!is.na(Date)),
            NA_PM2 = sum(is.na(PM2)),
            NA_PM10 = sum(is.na(PM10)),
            NA_Vis = sum(is.na(Visibility)),
            NA_WD = sum(is.na(WD)),
            NA_WS = sum(is.na(WS)),
            NA_OPC = sum(is.na(OPC))
  ) 
Table_NA_by_Station

# A tibble: 4 × 8
  Station.name NA_date NA_PM2 NA_PM10 NA_Vis NA_WD NA_WS NA_OPC
  <chr>          <int>  <int>   <int>  <int> <int> <int>  <int>
1 Dalanzadgad    69454  13081   16327  32475 20058 20058  69454
2 Sainshand     101230  27588   36117  28986 13768 13768 101230
3 UB             95662   7895    8785   3775  4121  4121  62421
4 Zamynuud       99742  32281   33597  22525  5373  5373  99742

By percentages

In [ ]:
Table_NA_by_Station_percentage <- df_01 %>%
  rowwise %>%
  group_by(Station.name, Year) %>% 
  summarise(NA_date = sum(!is.na(Date)),
            NA_PM2 = sum(is.na(PM2)),
            NA_PM10 = sum(is.na(PM10)),
            NA_Vis = sum(is.na(Visibility)),
            NA_WD = sum(is.na(WD)),
            NA_WS = sum(is.na(WS)),
            NA_OPC = sum(is.na(OPC))
  ) %>% 
  mutate(
            NA_PM2p = if_else(NA_date != NA_PM2, NA_PM2/NA_date*100, 0)
  ) %>%
  do({q <- .$NA_PM2*100/.$NA_date; sdq <- sd(q); attr(sdq, "data.all") <- q; data.frame(sdq)})

`summarise()` has grouped output by 'Station.name'. You can override using the
`.groups` argument.

# A tibble: 4 × 2
# Groups:   Station.name [4]
  Station.name   sdq
  <chr>        <dbl>
1 Dalanzadgad   10.7
2 Sainshand     25.9
3 UB            17.9
4 Zamynuud      39.6

Note that the `echo = FALSE` parameter was added to the code chunk to prevent printing of the R code that generated the plot.

# Remove the spikes, and produce an extended table

Remove the spikes in the datasets, and produce the table with NA, with removed spikes; express it in a percentages.

### Remove the spikes Method 1. Mean value +- (3-5)SD

Method 2. Seasonal variations, and trend-mean

## Save dataset in folder: 01_data_raw

# Tidy data

## Fill the missing data

Method 1. Fill the gap Method 2. Relationship equation Method 3. Look-up table

## Save dataset in folder: 02_data_tidy